# Node modules
node_modules
npm-debug.log
yarn-error.log

# Build output
.next
out
dist

# Local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Docker files themselves
Dockerfile
.dockerignore

# Git
.git
.gitignore
